header.page-header {
	margin-bottom: 3rem;
}

.service-archive-item {
	text-align: center;
	border: 1px solid;
    margin: 0.5em;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.service-image img {
	margin-bottom: 1rem;
}